@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/custom/Custom.js"></script>

<div class="container-fluid">
    <h1 style="color: #e6e6fa">Books</h1>
    <h3 style="color: #e6e6fa">Enter book details</h3>
    <br/>
    <div id="addBookDiv">
        <div class="well well-lg">
            <br/>
            <div class="row">
                <div class="col-lg-12 , col-lg-offset-1">
                    <label class="col-lg-3">Title : </label>
                    <input class="col-lg-3 form-control" data-bind="value: title" placeholder="Title of book" required/>
                </div>

            </div>
            <div class="row">
                <p>
                    <div class="col-lg-12 , col-lg-offset-1">
                        <label class="col-lg-3">Author :</label>
                        <input class="col-lg-3 form-control" data-bind="value:author" placeholder="Author Name"/>
                    </div>
                </p>
            </div>

            <div class="row">
                <p>
                    <div class="col-lg-12 , col-lg-offset-1">
                        <label class="col-lg-3">Genres :</label>
                        <select class="col-lg-3 form-control " data-bind="options: possibleGenres, value: genres, optionsCaption: 'Select a genre...'"></select>
                    </div>
                </p>
            </div>
            <div class="row">
                <p>
                    <div class="col-lg-12 , col-lg-offset-1">
                        <label class="col-lg-3">Published :</label>
                        <input class="col-lg-3 form-control" type="date" data-bind="value:published" placeholder="dd / mm / yyyy" maxlength="10"/>
                    </div>
                </p>

            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12 col-lg-push-10">
                    <span> <button class="btn btn-success" data-bind="click:saveBook" data-toggle="tooltip" data-placement="top" title="Click to Submit book"><i class="glyphicon glyphicon-floppy-save"></i> Save </button></span>
                    <span><button class="btn btn-danger" data-bind="click:resetInfo" data-toggle="tooltip" data-placement="top" title="Click to clear text"><i class="glyphicon glyphicon-refresh"></i> Reset  </button></span>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>
        var AddBookViewModel = function() {
            var self = this;
            self.title = ko.observable("");
            self.author = ko.observable("");
            self.possibleGenres = ["Fiction", "Non-Fiction", "Drama", "Horror"];
            self.genres = ko.observable("");
            self.published = ko.observable("");
            self.saveBook = function() {
                sendViewModelToController("Boek/Create", ko.toJSON(self), function() {
                    alert("Book saved to library");
                    changeLocation("Boek/Add/", true);
                });
            };
            self.resetInfo = function() {
                self.title("");
                self.author("");
                changeLocation("Boek/Add/", true);
            };
        };
        var place = new AddBookViewModel();
        ko.applyBindings(place, document.getElementById("addBookDiv"));
    </script>
}