@model dynamic

@{
    ViewBag.Title = "Index";
}

<h2 style="color: #e6e6fa">Inventory List</h2>
<br/>
<div class="container-fluid row" id="listDiv">
    <div class=" jumbotron">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Author</td>
                <td>Genres</td>
                <td>Published</td>
            </tr>
            </thead>
            <tbody data-bind="foreach: books">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Author"></td>
                <td data-bind="text: Genres"></td>
                <td data-bind="text: Published"></td>
                <td><button class="btn btn-group-sm btn-success " data-bind ="click: $parent.editClick ">Edit</button>
                <button class="btn btn-group-sm btn-danger " data-bind ="click: $parent.deleteClick ">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        var model = @Html.Raw(Json.Encode(Model));

        var BookViewModel = function() {
            var self = this;
            self.books = ko.observableArray(model.Books);
            self.id = ko.observable();
            self.editClick = function(book) {
                changeLocation("Boek/Edit/" + book.Id, true);
            };
            self.deleteClick = function(book) {
                changeLocation("Boek/Delete/" + book.Id, true);
                alert("Book Deleted");
            };
        };

        ko.applyBindings(new BookViewModel(), document.getElementById("listDiv"));
    </script>
}
