@{
    ViewBag.Title = "Home Page";
}

<h1 style="color: #e6e6fa"> Welcome to Book Storage </h1>
<h3 style="color: #e6e6fa"> Please click to continue </h3>
<br/>
<br/>
<div class="container-fluid" id="enterDiv">
    <div class="jumbotron">
        <div class="dropdown dropdown-menu, row ">
            <button class="btn btn-danger dropdown-toggle , col-lg-2 col-lg-push-5 " type="button" data-bind="click: enterClick">
                Enter

            </button>
        </div>
    </div>
</div>
@section scripts
 {
    <script>
        var HomePageViewmodel = function() {
            var self = this;
            self.enterClick = function() {
                changeLocation("Boek/Add", true);
            };

        };
        ko.applyBindings(new HomePageViewmodel(), document.getElementById("enterDiv"));
    </script>

}
